<%= simple_form_for(@iphone) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :Model %>
    <%= f.input :Memory %>
    <%= f.input :Condition %>
    <%= f.input :Price %>
    <%= f.input :Availability %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
