<p id="notice"><%= notice %></p>

<h1>Listing Iphones</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Gbs</th>
      <th>Memory</th>
      <th>Condition</th>
      <th>Price</th>
      <th>Availability</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iphones.each do |iphone| %>
      <tr>
        <td><%= iphone.model %></td>
        <td><%= iphone.GBs %></td>
        <td><%= iphone.Memory %></td>
        <td><%= iphone.condition %></td>
        <td><%= iphone.price %></td>
        <td><%= iphone.availability %></td>
        <td><%= link_to 'Show', iphone %></td>
        <td><%= link_to 'Edit', edit_iphone_path(iphone) %></td>
        <td><%= link_to 'Destroy', iphone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iphone', new_iphone_path %>
